<h1>Find Your Social Footprint</h1>

<div *ngIf="loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div *ngIf="!loading">
  <div class="social-container" *ngIf="user">
      <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ user.fullName | json }}</mat-card-title>
            <mat-card-subtitle>{{ user.location | json }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="{{ user.avatar }}" alt="Your Face Here">
          <mat-card-content>
            <p>
              {{ user.bio | json }}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Clear Footprint</button>
          </mat-card-actions>
        </mat-card>
  </div>

  <div *ngIf="!user">No social footprint found</div>
</div>

<div *ngIf="error">An error occurred: {{ error.message }}</div>
